.crazy-card-link {
    background-color: #f4f4f4;
    border-radius: 0.5rem;
    border: 0.125rem solid #0f0a3a;
    color: #08051c;
    display: inline-block;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-size: 0.875rem;
    padding: 0.625rem 1.125rem;
    text-decoration: none;
    transition: border-color 0.2s ease-in-out;
}
